@import url("https://fonts.googleapis.com/css?family=Montserrat");
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Montserrat", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top; }

.social-media-list li + li {
  padding-top: 5px; }

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8; }
  table tr:nth-child(even) {
    background-color: #f7f7f7; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9; }
  table td {
    border: 1px solid #e8e8e8; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 54px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          fill: #424242; }
      .site-nav input ~ .trigger {
        clear: both;
        display: none; }
      .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1; }

.page-heading {
  font-size: 32px; }

.post-list-heading {
  font-size: 28px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

@font-face {
  font-family: "Duke Fill";
  src: url("../assets/fonts/dukefill.otf") format("otf"), url("../assets/fonts/dukefill.woff") format("woff"), url("../assets/fonts/dukefill.woff2") format("woff2"); }
html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth; }

.site-header {
  border-top: none;
  border-bottom: 1px solid #e8e8e8;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1; }

.header-logo {
  max-height: 32px; }

.site-nav .page-link {
  font-family: "Stratos";
  text-transform: uppercase;
  color: #003372;
  transition-duration: 250ms; }

.page-link:hover {
  text-decoration: none;
  color: #eaa001;
  transition-duration: 250ms; }

.hero {
  height: 100vh;
  background-image: url(./sitecover.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  z-index: 0;
  position: relative; }

.hero-content {
  max-width: 860px;
  width: 90%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.hero-mobile {
  margin: 20px;
  text-align: center;
  display: none; }

.hero-mobile img {
  max-width: 130px;
  margin: auto; }

.buttons-desktop {
  margin: auto;
  width: 75%; }

.button, .button:visited {
  margin: 8px 8px;
  text-align: center;
  font-family: "Duke Fill";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
  color: #003372;
  transition-duration: 250ms;
  background-color: white;
  width: 30%;
  float: left;
  display: block; }

.gold {
  color: #003372 !important;
  background-color: #eaa001 !important; }

.gold:hover {
  background-color: #003372 !important;
  color: white !important; }

.button:hover {
  background-color: #003372;
  transition-duration: 250ms;
  color: white; }

.button:hover a {
  transition-duration: 250ms;
  color: white; }

.day-buttons {
  margin: auto;
  margin-bottom: 40px;
  width: 292px;
  text-align: center; }

.maps {
  width: 90% !important; }

.day-buttons h2 {
  margin-top: 30px;
  margin-bottom: 0px; }

.day-button, .day-button:visited {
  margin: 8px 8px;
  text-align: center;
  font-family: "Duke Fill";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 28px;
  transition-duration: 250ms;
  background-color: white;
  width: 130px;
  float: left;
  display: block;
  background-color: #003372;
  transition-duration: 250ms;
  color: white;
  cursor: pointer; }

.day-button:hover, .day-button:focus,
.active-day {
  background-color: #eaa001;
  transition-duration: 250ms;
  color: #003372; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 900px) {
  .button {
    width: 60%;
    margin: 10px auto;
    float: none; }

  .hero-mobile {
    display: block; }

  .hero-mobile img {
    margin-bottom: 30px; }

  .desktop {
    display: none; }

  .hero-content {
    height: 650px; }

  .hero-img {
    display: none; } }
@media screen and (max-height: 700px) {
  .button {
    text-align: center;
    font-family: "Duke Fill";
    text-transform: uppercase;
    text-decoration: none;
    font-size: 26px;
    color: #003372;
    background-color: white;
    width: 180px; }

  .hero-mobile img {
    margin-bottom: 0px; }

  .hero-mobile {
    margin-top: 0px; }

  .hero-content {
    height: 480px; } }
.section {
  padding: 60px 0px; }

.section-title {
  font-family: "Duke Fill";
  text-transform: uppercase;
  transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  font-size: 56px;
  color: #003372;
  text-align: center; }

.welcome-stats-container {
  text-align: center; }

.welcome-stats {
  margin: auto;
  display: inline-block; }

.welcome-stats ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0; }

.welcome-stats li {
  line-height: 1;
  float: left;
  width: 150px;
  padding: 30px 65px;
  font-size: 56px;
  color: #eaa001; }

.welcome-stats span:before {
  display: block;
  content: "\A";
  margin-top: -20px; }

.welcome-stats span {
  line-height: 1;
  font-size: 18px;
  color: #003372;
  text-transform: uppercase;
  font-weight: bold; }

@media screen and (max-width: 900px) {
  .welcome-stats li {
    float: none; } }
.ctr-div {
  text-align: center; }

.automargin {
  margin: auto; }

.map-img {
  margin: auto; }

.sponsor-img {
  display: inline-block;
  max-width: 260px;
  padding: 40px;
  margin: auto; }

.sponsor-img img {
  max-height: 100px; }

/**
 * Wrapper
 */
.wrapper {
  max-width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 35px;
  padding-left: 35px; }

@media screen and (max-width: 900px) {
  .wrapper {
    max-width: -webkit-calc(100vh - (30px));
    max-width: calc(100vh - (30px));
    padding-right: 20px;
    padding-left: 20px; } }
.isg-agenda__content {
  margin-left: -30px;
  position: relative; }

.isg-agenda__content li {
  position: relative;
  font-size: 1em;
  padding: 1.3em 0;
  vertical-align: middle;
  display: inline-block;
  width: 100%; }

@media (min-width: 768px) {
  .isg-agenda__content li {
    font-size: 1.2em;
    padding: 1em 0; } }
.isg-agenda__content li::after {
  content: '';
  clear: both;
  display: block; }

.isg-agenda__content li::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #003372;
  width: 4px; }

.isg-agenda__content li:first-child::before {
  top: 50%;
  height: 50%; }

.isg-agenda__content li:last-child::before {
  top: 0;
  height: 50%; }

.isg-agenda__time {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  width: 31%;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .isg-agenda__time {
    width: 41.5%; } }
.isg-agenda__item-content {
  display: block;
  float: right;
  width: 31%;
  font-size: 0.835em; }

@media (min-width: 768px) {
  .isg-agenda__item-content {
    width: 41.5%; } }
.isg-agenda__marker {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  border: 3px solid #003372;
  background-color: #eaa001; }

@media (min-width: 768px) {
  .isg-agenda__marker {
    border-width: 4px; } }
.isg-agenda__marker[data-color=''] {
  border: 0;
  background-color: transparent; }

.isg-agenda__marker--img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%; }

.isg-agenda__marker--img img {
  border-radius: 50%;
  border: 4px solid #003372;
  height: 100%;
  box-sizing: border-box; }

@media (max-width: 767px) {
  .isg-agenda__marker--img img {
    max-height: 47px; } }
[data-color*='theme-base'] .isg-agenda__marker--img img {
  border-color: #eaa001; }

[data-color*='theme-tertiary'] .isg-agenda__marker--img img {
  border-color: #eaa001; }

.isg-agenda__marker[data-color*='theme-base'] {
  background-color: #eaa001; }

.isg-agenda__marker[data-color*='theme-primary'],
.isg-agenda__marker[data-color*='theme-secondary'] {
  background-color: #003372; }

.isg-agenda__marker[data-color*='theme-primary'] img,
.isg-agenda__marker[data-color*='theme-secondary'] img {
  border-color: #003372; }

.isg-agenda__marker[data-color*='theme-tertiary'] {
  background-color: #eaa001; }

.isg-agenda__marker[data-color*='theme-tertiary'] img {
  border-color: #eaa001; }

.credit {
  font-size: 10px; }
